<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="well">
			<h1>
			  <%= @song.name %>
			</h1>

			<h3>
			  by <%= @song.artist.name %>
			</h3>

			<p>
			  <% @song.rating.times do %>
	        <i class="glyphicon glyphicon-star yellow-star"></i>
	      <% end %>
	      <% (10 - @song.rating).times do %>
	        <i class="glyphicon glyphicon-star"></i>
	      <% end %>
			</p>

			<%= link_to edit_song_path(@song) do %>
				<i class="glyphicon glyphicon-pencil"></i>
			<% end %>
			<%= link_to do %>
				<i class="glyphicon glyphicon-trash"></i>
			<% end %>
		</div>
	</div>
</div>